<header>
 
            <ul class='basic-navigation'>
                <img id="main" src="../../assets/img/logo.png" alt="logo" class="logo">
            <li id="search">
              <app-search class="search "></app-search>
            </li>
            
              <li class="active" id="acc">
                @if (userSession ==="noLogged") {
                  <a class={{userSession}} routerLink = '/login-page'><img class="nav-img" src="../../assets/img/outline_person_white_48dp.png"><p>{{username}}</p></a>
                }
                @else {
                  <!-- <a routerLink = '/login-page'><img class="nav-img" src="../../assets/img/outline_person_white_48dp.png"><p>{{username}}</p></a> -->
                  <ul>
                    <li>Twoje zamowienia</li>
                    <li>Ustawienia konta</li>
                    <li>Wyloguj</li>
                  </ul>
                }
              </li>
            <li id="basket"><a href=""><img class="nav-img" src="../../assets/img/outline_shopping_bag_white_48dp.png"></a></li>
            <li id="help"><a href="">Pomoc</a></li>
            </ul>
</header>
