
ul li :last-child{
    margin-right: 20px;
}
.basic-navigation{
    display: flex;
    color: var(--textColor);
    list-style: none;
    justify-content: center;
    align-items: center;
       
}
.account{
    margin-left: 5%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
}
.account p{
    margin-top: -10px;
    text-align: center;
}

ul li{
    margin-left: 5%;
}
ul li a{
    text-decoration: none;
    font-size: larger;
    color: var(--textColor);
}
img{
    height: 56px;
    width: 56px;
    color: var(--textColor);
}
ul:not(:first-child){
    align-self: flex-end;
}
.userAcc{
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 flex-direction: column;
}
#user-navigation-bar{
    display: none;
    position: absolute;
    background-color: var(--background);
    list-style-type: none;
    padding: 3px 0px;
    width: 177px;
    z-index: 100;
    margin: 10px 0;
    
}
#user-navigation-bar li{
    margin: 2px 0px;
}
.userAcc:hover{
    #user-navigation-bar{
        display: block;
      
    }
}
@media screen and (max-width: 750px) {
   .basic-navigation{
        display: grid;
        grid-template-rows: 2 1fr;
        grid-template-columns: 25% 25% 25% 25%;
        grid-row-gap:10px ;
        
    }
    #main{
        grid-row: 1;
        grid-column: 1;
    }
    #search{
       
        grid-row: 2;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .account{
        grid-row: 1;
        grid-column: 2;
    }
    #basket{
        grid-row: 1;
    }
    #help{
        grid-row: 1;
    }
    
}