/* You can add global styles to this file, and also import other style files */
:root{
    --background:#07090F;
    --textColor:#ffffff;
    --borderColor: #a37c40;
}

.dark-theme {
    --borderColor: #a37c40;
    --background: #07090F;
    --textColor: #ffffff;
}

.light-theme{
    --borderColor: #b04759;
    --background: #d9d9d9;
    --textColor: #272727;
}
body{
    /* background-color: var(--background);
    color: var(--textColor); */
    margin: 0;
    padding: 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 200,
  'opsz' 40
}
