/* You can add global styles to this file, and also import other style files */
:root{
    --background:#07090F;
    --textColor:#ffffff;
    --borderColor: #a37c40;
}
body{
    background-color: var(--background);
    margin: 0;
    padding: 0;
}