nav{
    color: white;
 
}
.menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    font-weight: 900;
    margin-left: 10px;
    width: 90%;
    overflow: hidden;

}

nav ul li a{
    text-decoration: none;
    color: var(--textColor);
}
.perypherials{
    display: none;
}
ul li:hover{
    background: var(--borderColor);
    cursor: pointer;
}
ul li:hover ul {
    position: absolute;
    background: var(--background);
    padding: 3px 0;
    display: block;
    width: 177px;
    z-index: 100;
  } 
  .open-menu,
  .close-menu {
      position: absolute;
      color: var(--textColor);
      cursor: pointer;
      font-size: 1.5rem;
      display: none;
  }
  .open-menu {
      top: 20;
      right: 20px;
      transform: translateY(-50%);
  }
  .close-menu {
    top: 20px;
    right: 20px;
}
  #check{
    display: none;
    cursor: pointer;
  }
  @media screen and (max-width: 900px) {
    ul li:not(:last-child){
        margin-right: 10px;
    }
  }
  @media(max-width: 750px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--background);
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}}
