<nav>
      
    
        <ul class="nav-bar">
            <input type="checkbox" name="check" id="check">
            <span class="menu">
             
            <li (click)="navigate('cpu')" ><a >Procesory</a></li>
            <li (click)="navigate('gpu')"><a  >Karty Graficzne</a></li>
            <li (click)="navigate('disks')"><a >Dyski</a></li>
            <li (click)="navigate('ram')"><a >RAM</a></li>
            <li (click)="navigate('epu')"><a >Zasilacze</a></li>
            <li (click)="navigate('motherboard')"><a >Płyty główne</a></li>
            <li (click)="navigate('cooler')"><a >Chłodzenia</a></li>
            <li (click)="navigate('perypherials')"> <a >Peryferia</a><ul class="perypherials">
                <li><a href="">Myszki</a></li>
                <li><a href="">Klawiatury</a></li>
                <li><a href="">Słuchawki</a></li>
            </ul>
            <label for="check" class="close-menu"><img src="../../assets/img/close.png"></label>
        </span>
        <label for="check" class="open-menu"><img src="../../assets/img/menu.png"></label>
        </ul>
        
      
   
</nav>