<nav>
    <ul>
        <li><a href="">Procesory</a></li>
        <li><a href="">Karty Graficzne</a></li>
        <li><a href="">Dyski</a></li>
        <li><a href="">RAM</a></li>
        <li><a href="">Zasilacze</a></li>
        <li><a href="">Płyty główne</a></li>
        <li><a href="">Chłodzenia</a></li>
        <li><a href="">Peryferia</a><ul class="perypherials">
            <li><a href="">Myszki</a></li>
            <li><a href="">Klawiatury</a></li>
            <li><a href="">Słuchawki</a></li>
        </ul>
    </ul>
</nav>