img{
    width: 250px;
    height: 250px;
}
.single-product ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.single-product{
  margin: 10px 4px;
  padding: 2px 4px;
}
button {
  background: var(--borderColor);
  border: 1px solid var(--background);
  color: var(--textColor);
  border-radius: 10px;
  width: 60%;
  height: 40px;
  max-width: 180px;
  margin-top: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background: var(--background);
  color: var(--borderColor);
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
