/* login-input.component.css */

.input {
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
   
  }
  
  .input input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    font-size: 16px;
    background: transparent;
    color: var(--textColor);

  }
  
  .input input:focus {
    outline: none;
    border-color: var(--borderColor)
  }
  
  .input img {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
  }
  .error{
    border: 1px solid red;
    color: red;
    font-size: small;
  }
  .text-error{
    color: red;
  }