<app-header username="{{userName}}" userSession = "{{userSession}}"></app-header>
<div class="content">
<h1>Twoje zamowienie</h1>
<div class="main">    
    <div  class="products">
        <div *ngFor = "let product of currentOrder" class="single">
        <h1>{{product.name}}</h1>
        <img src={{product.imgurl}} alt="product">
        <h2>Cena: <br>{{product.price}}</h2>
        
        <div class="product-quantity">
            <span>Liczba sztuk:</span> 
            <button (click)="deleteSingleProduct(product)" class="counter">-</button>
             <p>{{product.quantity}}</p> 
             <button (click)="addSingleProduct(product)" class="counter">+</button>
        </div>
    </div>
    </div>
    <div class="summary">
        <h1>Laczny koszt zamowienia: {{summedPrice}}</h1>
        <button routerLink="/order-page">Przejdz do dostawy</button>
        <button (click) = "removeOrder()" id="cancel">Anuluj zamowienie</button>
    </div>
</div>
</div>
<app-footer></app-footer>