:root{
    --background:#07090F;
    --textColor:#ffffff;
    --borderColor: #a37c40;
}
body{
    background-color: var(--background);
}
h2{
    text-align: center;
}
.product-sesion{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    column-gap: 2%;
    row-gap: 2%;
}
.all-products{
    margin: 1%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
   
}
@media screen and (min-width:720px) {
    .all-products{
        grid-template-columns: repeat(2,1fr);
    }
@media screen and (min-width:1440px) {
    .all-products{
        grid-template-columns: repeat(3,1fr);
    }
}
}