:root{
    --background:#07090F;
    --textColor:#ffffff;
    --borderColor: #a37c40;
}
body{
    background-color: var(--background);
}
.product-sesion{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.all-products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
}
