<app-header></app-header>
<main>
<h1>Kontakt</h1>
<div class="contacts">
    <div class="single-point">
        <div class="tittle-point">
            <span class="material-symbols-outlined">
                laptop_mac
                </span>
        <h3>Sklep komputerowy</h3></div>
        <div class="contact-text">
        <p class="contact-info">computerShop&#64;computershop.pl</p>
        <p class="contact-info">+48 781 000 001</p>
        <p class="open-date">pon.-pt.  8:00-21:00</p>
        <p class="open-date">sob.-niedz. 8:00 - 19:00</p>
        </div>
    </div>
    <div class="single-point">
        <div class="tittle-point">
            <span class="material-symbols-outlined">
                service_toolbox
                </span>
        <h3>Serwis</h3>
        </div>
        <div class="contact-text">
        <p class="contact-info">serwis&#64;computershop.pl</p>
        <p class="contact-info">+48 781 000 000</p>
        <p class="open-date">pon.-pt.  8:00-21:00</p>
        <p class="open-date">sob.-niedz. 8:00 - 19:00</p>
    </div>
    </div>
    <div class="single-point">
        <div class="tittle-point">
            <span class="material-symbols-outlined">
                chat
                </span>
        <h3>Czat z doradca</h3>
    </div>
    <div class="contact-text">
        <p class="contact-info">Otworz chat na stronie</p>
        
        <p class="open-date">odpowiadamy 24/7</p>
    </div>  
    </div>
    <div class="single-point">
        <div class="tittle-point">
            <span class="material-symbols-outlined">
                pin_drop
                </span>
        <h3>Adres centrali</h3>
    </div>

    <div class="contact-text">
        <p>ul. Spadocroniarzy123123/1</p>
        <p>23-000 Lublin</p>
    </div>
    </div>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5930.58334582037!2d22.540997976661494!3d51.23322402093573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4722577729316bd9%3A0x442236391b743bc!2sPolitechnika%20Lubelska%2C%2020-618%20Lublin!5e0!3m2!1spl!2spl!4v1714116978738!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</main>