.contacts{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.tittle-point{
    display: flex;
    align-items: center;

}
h3{
    margin-left: 15px;
}
.single-point{
    margin: 1%;
}
.contact-text{
    margin-left: 35px;
}
.contact-info{
  color: var(--borderColor);
}
h1{
    margin-left: 2%;
}
@media screen and (min-width:1000px) {
    .contacts{

        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
      justify-content: center;
    }
    .single-point{
        width: 25%;
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .tittle-point{
    justify-self: space-around;
    }
}
