.register-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    color: var(--textColor);
    border: 1px solid var(--borderColor);
    border-radius: 10px ;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.temp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}
h4{
    margin: 0 0 1% 0;
}
.button{
    margin: 1% 0;
}
.error p {
  margin-top: -10px;
  color: red;
  font-size: 0.8rem;
}

@media screen and (min-width:900px) {
    .temp{
        flex-direction: row;
    }
    .register-page{
        width: 45%;
        margin: 5%;
    }
    aside{
        width: 45%;
        margin: 5%;
    }

}
