<div class="temp">
<div class="register-page" [formGroup]="registerForm">
    <h1>Rejestracja</h1>
<app-login-input
type="text"
placeholder="Imie (wymagane)"
 formControlName = "name">
</app-login-input>
  <div *ngIf="registerForm.get('name')?.touched &&registerForm.get('name')?.invalid" class="error">
    <p *ngIf="registerForm.get('name')?.hasError('required')">Imie jest wymagane</p>
    <p *ngIf="registerForm.get('name')?.hasError('minLength')">Niepoprawna składnia</p></div>
<app-login-input
type="text"
placeholder="Nazwisko (wymagane)"
formControlName = "surname">
</app-login-input>
  <div *ngIf="registerForm.get('surname')?.touched &&registerForm.get('surname')?.invalid" class="error">
    <p *ngIf="registerForm.get('surname')?.hasError('required')">Nazwisko jest wymagane.</p>
    <p *ngIf="registerForm.get('surname')?.hasError('minLength')">Niepoprawna składnia</p></div>
<app-login-input
type="email"
placeholder="Email (wymagane)"
formControlName = "email">
</app-login-input>
  <div *ngIf="registerForm.get('email')?.touched &&registerForm.get('email')?.invalid" class="error">
    <p *ngIf="registerForm.get('email')?.hasError('required')">Email jest wymagany.</p>
    <p *ngIf="registerForm.get('email')?.hasError('pattern')">Niepoprawna składnia</p></div>
<app-login-input
type="password"
placeholder="Hasło (wymagane)"
formControlName = "password">
</app-login-input>
  <div *ngIf="registerForm.get('password')?.touched &&registerForm.get('password')?.invalid" class="error">
    <p *ngIf="registerForm.get('password')?.hasError('required')">Haslo jest wymagane.</p>
    <p *ngIf="registerForm.get('password')?.hasError('pattern')">Niepoprawna składnia</p></div>
<app-login-input
type="password"
placeholder="Powtorz haslo"
formControlName = "repeatPassword">
</app-login-input>
  <div class="regulamin">
    <div *ngIf="registerForm.get('repeatPassword')?.touched && registerForm.get('repeatPassword')?.invalid" class="error">
      <p *ngIf="registerForm.get('repeatPassword')?.hasError('required')">Prosze powtorzyc haslo.</p>
      <p *ngIf="registerForm.get('repeatPassword')?.hasError('pattern')">Niepoprawna składnia</p></div>
<h4>Zgody formalne</h4>

<input type="checkbox" formControlName="acceptRegulamin" name="regulamin" id="regulamin" required> Akceptuje <a href="">regulamin</a> sklepu *
</div>
<app-button-component class="button" text="Załóż konto" (buttonClick)="register()"></app-button-component>
</div>
<aside>
   <h4>Dlaczego warto założyć konto:</h4>
    <ul class="user-information">
      <li><img src="../../../assets/img/loginpage/login1.svg" alt=""> zamawiaj szybcjiej</li>
      <li><img src="../../../assets/img/loginpage/login2.svg" alt=""> sprawdzaj poprzednie zamówienia</li>
      <li> <img src="../../../assets/img/loginpage/login3.svg" alt=""> śledź status zamówienia</li>
      <li><img src="../../../assets/img/loginpage/login4.svg" alt=""> korzystaj z rabatów i promocji</li>
    </ul>
  </aside>
</div>
